<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/cropper.min.css" />
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/popper-1.14.7.min.js"></script>
    <script src="static/js/cropper.min.js"></script>
    <script src="static/js/main.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GenAI</title>
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>

</html>
