{% extends 'base.html' %}

{% block content %}

<div class="display-flex-center m-5">

  <div class="form-wrapper">

    <div class="logo display-flex-center">
      <img
        src="{{ url_for('static', filename='img/logo.png') }}"
        alt="logo"
      />
    </div>

    <h1 class="text-center m-3">Sign Up</h1>

    <form method="POST" action="/signup">
      {{ form.csrf_token }}

      <fieldset class="name mb-3">
        <!-- {{ form.name.label }} -->
        {{ form.name(placeholder="Name", class="form-control") }}
        {% if form.name.errors %}
          <ul class="errors">
            {% for error in form.email.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="email mb-3">
        <!-- {{ form.email.label }} -->
        {{ form.email(placeholder="Email", class="form-control") }}
        {% if form.email.errors %}
          <ul class="errors">
            {% for error in form.email.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="password mb-3">
        <!-- {{ form.password.label }} -->
        {{ form.password(placeholder="Password", class="form-control") }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="confirm mb-3">
        <!-- {{ form.confirm.label }} -->
        {{ form.confirm(placeholder="Confirm Password", class="form-control") }}
        {% if form.confirm.errors %}
          <ul class="errors">
            {% for error in form.confirm.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <div class="submit-button mt-3 text-center">
        {{ form.submit(class="btn btn-primary") }}
      </div>

    </form>

    <div class="login-signup mt-2">
      <div>
        <span>Already have an account?</span>
        <a href="{{ url_for('auth.signin') }}">Log in.</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
