<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cropper.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.min.css') }}"/>

    <!-- Adsense -->
    <script data-ad-client="ca-pub-8620102947738849" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q2FP96SVYM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Q2FP96SVYM');
    </script>

    <script src="{{ url_for('static', filename=('js/jquery-3.5.1.min.js')) }}"></script>
    <script src="{{ url_for('static', filename=('js/popper-1.14.7.min.js')) }}"></script>
    <script src="{{ url_for('static', filename=('js/cropper.min.js')) }}"></script>
    <script src="{{ url_for('static', filename=('js/datepicker.min.js')) }}"></script>
    <script src="{{ url_for('static', filename=('js/main.js')) }}"></script>
  </head>

  <body>

    <section class="content">

      <header>
        {% block header %}
          <title>
            InstaGender &#8226;
            {% block title %}
              Welcome
            {% endblock %}
          </title>
        {% endblock %}
        {% include 'nav.html' %}
      </header>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="container" id="alerts-container">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} mx-3" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
          {% endif %}
        {% endwith %}

      {% block content %}{% endblock %}

    </section>

  </body>

  {% include 'footer.html' %}

</html>
