{% extends 'base.html' %}

{% block title %}
  Sign Up
{% endblock %}

{% block description %}
  <meta name="description" content="Sign up to get started.">
{% endblock %}

{% block content %}

<div class="display-flex-center m-5">

  <div class="form-wrapper">

    <div class="logo display-flex-center">
      <img
        src="{{ url_for('static', filename='img/logo.svg') }}"
        alt="logo"
        class="main-logo"
      />
    </div>

    <h1 class="text-center m-3">Sign Up</h1>

    <br>
    <form method="POST" action="/signup">
      {{ form.csrf_token }}

      <fieldset class="name mb-3">
        {{ form.name(placeholder="Name", class="form-control") }}
        {% if form.name.errors %}
          <ul class="errors">
            {% for error in form.name.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="email mb-3">
        {{ form.email(placeholder="Email", class="form-control") }}
        {% if form.email.errors %}
          <ul class="errors">
            {% for error in form.email.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="password mb-3">
        {{ form.password(placeholder="Password", class="form-control") }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="confirm mb-3">
        {{ form.confirm(placeholder="Confirm Password", class="form-control") }}
        {% if form.confirm.errors %}
          <ul class="errors">
            {% for error in form.confirm.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <br>
      <div class="submit-button mt-3 text-center">
        {{ form.submit(class="btn btn-primary") }}
      </div>

    </form>

    <div class="login-signup mt-2">
      <div>
        <small>
          <span>Already have an account?</span>
          <a href="{{ url_for('auth.signin') }}">Log in.</a>
        </small>
      </div>
    </div>

  </div>
</div>
{% endblock %}
