{% extends 'base.html' %}

{% block title %}
  AI powered gender prediction from as young as 12 weeks.
{% endblock %}

{% block description %}
  <meta name="description" content="Upload your scans for free and have AI predict your baby's gender.">
{% endblock %}

{% block content %}

<section>
  <div class="mt-5 container">
    <div class="logo display-flex-center">
      <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo" class="main-logo" />
    </div>
    <div class="text-center">
      <h1 class="mt-4 text-white drop-shadow main-title">InstaGender</h1>
      <p class="mt-5 display-4">AI powered gender prediction.</p>
    </div>
  </div>

  <div class="mt-5 container">
    <p class="display-5">Leveraging the power of neural networks trained on thousands of baby ultrasound images, we're able to predict the gender of babies from as young as 12 weeks.</p>
  </div>

  <br>
  <div class="mt-5 container">
    <h2 class="text-center big ">How does it work?</h2>

    <br>
    <div class="container instruction-container">
      <h3>Snap</h3>
      <p>First, take pictures of your scans. We recommend using no flash in a well lit room to avoid any inclusions.</p>
      <div class="container display-flex-center">
        <img src="{{ url_for('static', filename='img/snap.svg') }}" alt="logo" class="illustration" />
      </div>
    </div>
    <hr>
    <div class="container instruction-container">
      <h3>Crop</h3>
      <p>Upload and crop your photos so that as much of baby's anatomy is included, and everything else rest is excluded.</p>
      <div class="container display-flex-center">
        <img src="{{ url_for('static', filename='img/crop.svg') }}" alt="logo" class="illustration" />
      </div>
    </div>
    <hr>
    <div class="container instruction-container">
      <h3>Click</h3>
      <p>When you're ready, click to predict!</p>
      <div class="container display-flex-center">
        <img src="{{ url_for('static', filename='img/click.svg') }}" alt="logo" class="illustration-small" />
      </div>
    </div>
    <div class="mt-5 display-flex-center">
      <a href="{{ url_for('auth.signup') }}" class="btn btn-lg btn-primary">Let's do this!</a>
    </div>
  </div>

  <div class="mt-5 container">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center big ">How much does it cost?</h2>
      </div>
      <div class="row">
        <div class="col-sm m-2">
          <div class="container">
            <p>We offer the service free of charge; we only ask that you disable ad-blockers. Ads are how we pay for our servers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}
