

/* CROPPERJS */
/* Ensure the size of the image fit the container perfectly */
img {
  display: block;
  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}
/* CROPPERJS */
.container {
   max-width: 960px;
   margin: 20px auto;
 }

 img {
   max-width: 100%;
 }

 .row,
 .preview {
   overflow: hidden;
 }

 .col {
   float: left;
 }

 .col-6 {
   width: 50%;
 }

 .col-3 {
   width: 25%;
 }

.label {
  cursor: pointer;
}

.progress {
  display: none;
  margin-bottom: 1rem;
}

.alert {
  display: none;
}

.img-container img {
  max-width: 100%;
}

/* DASHBOARD */
.baby-image {
  max-width: 160px;
  max-height: 160px;
}
