<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <title>Instant Gender</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1></h1>
            </div>
            <div class="row">
                <h2></h2>
            </div>
        </div>

        <div class="container py-5">

            <header class="text-white text-center">
                <h1 class="display-4">InstaGender</h1>
                <p class="lead mb-0">The <strong>fastest</strong>, most <strong>accurate</strong> gender determination.</p>
                <p class="mb-5"></p>
                <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" alt="" width="150" class="mb-4">
            </header>

            <section id="upload-sect">
                <div class="row py-4">
                    <div class="col-lg-6 mx-auto">

                        <form method="POST" name="main-form" id="main-form" enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="InputEmail">Email address</label>
                                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll use your email to check in with you in a few months to see if we got it right.</small>
                            </div>

                        </form>

                        <form
                            id="fileupload"
                            action="https://jquery-file-upload.appspot.com/"
                            method="POST"
                            enctype="multipart/form-data"
                          >
                            <!-- Redirect browsers with JavaScript disabled to the origin page -->
                            <noscript
                              ><input
                                type="hidden"
                                name="redirect"
                                value="https://blueimp.github.io/jQuery-File-Upload/"
                            /></noscript>
                            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                            <div class="row fileupload-buttonbar">
                              <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
                                  <i class="glyphicon glyphicon-plus"></i>
                                  <span>Add files...</span>
                                  <input type="file" name="files[]" multiple />
                                </span>
                                <button type="submit" class="btn btn-primary start">
                                  <i class="glyphicon glyphicon-upload"></i>
                                  <span>Start upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel">
                                  <i class="glyphicon glyphicon-ban-circle"></i>
                                  <span>Cancel upload</span>
                                </button>
                                <button type="button" class="btn btn-danger delete">
                                  <i class="glyphicon glyphicon-trash"></i>
                                  <span>Delete selected</span>
                                </button>
                                <input type="checkbox" class="toggle" />
                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                              </div>
                              <!-- The global progress state -->
                              <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div
                                  class="progress progress-striped active"
                                  role="progressbar"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                >
                                  <div
                                    class="progress-bar progress-bar-success"
                                    style="width: 0%;"
                                  ></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                              </div>
                            </div>
                            <!-- The table listing the files available for upload/download -->
                            <table role="presentation" class="table table-striped">
                              <tbody class="files"></tbody>
                            </table>
                          </form>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">Demo Notes</h3>
                            </div>
                            <div class="panel-body">
                              <ul>
                                <li>
                                  The maximum file size for uploads in this demo is
                                  <strong>999 KB</strong> (default file size is unlimited).
                                </li>
                                <li>
                                  Only image files (<strong>JPG, GIF, PNG</strong>) are allowed in
                                  this demo (by default there is no file type restriction).
                                </li>
                                <li>
                                  Uploaded files will be deleted automatically after
                                  <strong>5 minutes or less</strong> (demo files are stored in
                                  memory).
                                </li>
                                <li>
                                  You can <strong>drag &amp; drop</strong> files from your desktop
                                  on this webpage (see
                                  <a
                                    href="https://github.com/blueimp/jQuery-File-Upload/wiki/Browser-support"
                                    >Browser support</a
                                  >).
                                </li>
                                <li>
                                  Please refer to the
                                  <a href="https://github.com/blueimp/jQuery-File-Upload"
                                    >project website</a
                                  >
                                  and
                                  <a href="https://github.com/blueimp/jQuery-File-Upload/wiki"
                                    >documentation</a
                                  >
                                  for more information.
                                </li>
                                <li>
                                  Built with the
                                  <a href="https://getbootstrap.com/">Bootstrap</a> CSS framework
                                  and Icons from <a href="https://glyphicons.com/">Glyphicons</a>.
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <!-- Upload image input-->
                        <!--<div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">-->
                        <!--    <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">-->
                        <!--    <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>-->
                        <!--    <div class="input-group-append">-->
                        <!--        <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>-->
                        <!--    </div>-->
                        <!--</div>-->

                        <!-- Uploaded image area-->
                        <!--<p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>-->
                        <!--<div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>-->

                    </div>
                </div>
            </section>

            <section class="payment-sect">
                <div class="row py-4">
                    <div class="col-lg-6 mx-auto">

                    </div>
                </div>
            </section>

            <section class="results-sect">
                <div class="row py-4">
                    <div class="col-lg-6 mx-auto">

                    </div>
                </div>
            </section>
        </div>

    </body>
    <script>
        /*  ==========================================
            SHOW UPLOADED IMAGE
        * ========================================== */
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imageResult')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $(function () {
            $('#upload').on('change', function () {
                readURL(input);
            });
        });

        /*  ==========================================
            SHOW UPLOADED IMAGE NAME
        * ========================================== */
        var input = document.getElementById( 'upload' );
        var infoArea = document.getElementById( 'upload-label' );

        input.addEventListener( 'change', showFileName );
        function showFileName( event ) {
          var input = event.srcElement;
          var fileName = input.files[0].name;
          infoArea.textContent = 'File name: ' + fileName;
        }
    </script>
</html>
