<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/cropper.min.css" />
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/popper-1.14.7.min.js"></script>
    <script src="static/js/cropper.min.js"></script>
    <script src="static/js/main.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GenAI</title>
  </head>

  <body>

    <!-- IMAGE UPLOAD -->
    <div class="container">
      <label class="label" data-toggle="tooltip" title="Upload your baby's picture">
        <input type="file" class="form-control-file" id="input" name="image" accept="image/*">
        <!-- <input type="file" class="form-control-file" name="file" id="input"> -->
      </label>
      <img id="upload-image" src="" alt="upload-image" style="display: none">
    </div>

    <div class="img-container">
      <img id="image" src="">
    </div>

    <!-- FORM -->
    <form method="POST" enctype="multipart/form-data" id="predict-form" name="predict-form">

      <p>How old is baby in the picture?</p>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <input class="form-control" type="text" minlength="1" pattern="[0-9]*" placeholder="weeks" name="weeks">
          </div>
          <div class="col">
            <input class="form-control" type="text" minlength="1" pattern="[0-9]*" placeholder="days" name="days">
          </div>
        </div>
      </div>

      <p>Do you already know the gender?</p>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="genderRadios" id="radiosUnknown" value="no" checked>
        <label class="form-check-label" for="radiosUnknown">No</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="genderRadios" id="radiosGirl" value="girl">
        <label class="form-check-label" for="radiosGirl">Girl</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="genderRadios" id="radiosBoy" value="boy">
        <label class="form-check-label" for="radiosBoy">Boy</label>
      </div>

      <p>Could we check how we did in a few months?</p>

      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input class="form-control" type="email" name="emailAddress" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required size="32" maxlength="64">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div>
        <!-- <input type="button" class="button" value="Predict" id="predict-button"> -->
        <!-- <button type="submit" class="btn btn-primary">Predict</button> -->
        <button type="button" class="btn btn-primary" name="button" id="predict-button">Predict</button>
      </div>

    </form>
  </body>
</html>
